---
interface Props {
	question: string;
}


const { question } = Astro.props;

import { questions } from '../data/data';
import LastPopup from './LastPopup.astro';
---

<div class="w-full max-w">
    <form class="bg-neon-light text-neon-dark shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <input id="input-question-id" type="text" class="hidden" value={question}>
        <div class="mb-4">
            <label class="label-question block text-sm font-bold mb-2" for="answer">
                ...
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" 
                id="input-answer" 
                type="text" 
                placeholder="Resposta"
                autocomplete="off">
        </div>
        <div class="flex items-center justify-center pt-5">
            <button class="btn-answer bg-neon-dark hover:bg-opacity-80 text-white font-bold py-2 px-6 mx-10 rounded focus:outline-none focus:shadow-outline" type="button">
              Ho tenim!
            </button>
            <a class="open-popup inline-block align-baseline font-bold text-sm text-neon-dark hover:text-opacity-80" href="#">
              Ni puta idea!
            </a>
          </div>
    </form>
    <p class="text-center text-neon-light text-xs">
        Made with <a href="/video.mp4" target="_blank" class="heart-link">
            <span id="hearth">❤️️</span> by Mireia, Germán, Bruna, Laia, Mariona, Jona, Cris, Alex, Núria, Anna, Carles & Carme
        </a>
    </p>

    <LastPopup />
</div>

<script>
    import { questions } from '../data/data';
    import confetti from 'canvas-confetti';   
    import CryptoJS from 'crypto-js';

    let answerBtn: HTMLElement = document.querySelector('.btn-answer');

    const showPopup = () => {
        const popup = document.createElement('div');
        popup.style.position = 'fixed';
        popup.style.top = '0';
        popup.style.left = '0';
        popup.style.width = '100%';
        popup.style.height = '100%';
        popup.style.backgroundColor = 'rgba(0, 0, 0, 0.8)';
        popup.style.display = 'flex';
        popup.style.flexDirection = 'column';
        popup.style.justifyContent = 'center';
        popup.style.alignItems = 'center';
        popup.style.zIndex = '1000';
        popup.style.padding = '10px'; // Añadido para asegurar que el contenido se vea bien en móviles

        const video = document.createElement('video');
        video.src = '/videoplayback.mp4';
        video.autoplay = true;
        video.loop = true;
        video.style.width = '100%'; // Cambiado a 100% para que se ajuste al ancho de la pantalla
        video.style.height = 'auto'; // Cambiado a auto para mantener la proporción del video
        video.style.objectFit = 'cover';

        const timer = document.createElement('div');
        timer.style.position = 'absolute';
        timer.style.bottom = '20px';
        timer.style.color = '#fff';
        timer.style.fontSize = '20px';
        timer.style.textAlign = 'center'; // Asegura que el texto esté centrado en móviles

        popup.appendChild(video);
        popup.appendChild(timer);
        document.body.appendChild(popup);
        let failureCount = parseInt(localStorage.getItem('failureCount')) || 1;
        let remainingTime = failureCount;
        timer.innerText = `Temps restant: ${remainingTime} segons`;
    }

    const  showReward = async (question) =>{
        const hearth = document.getElementById('hearth');
        let size = parseFloat(localStorage.getItem('hearthSize') || '0.75');
        size += 0.2;
        if(size>4) size = 4;
        hearth.style.fontSize = `${size}rem`;
        localStorage.setItem('hearthSize', size.toString());
        const rewardPopup = document.createElement('div');
        rewardPopup.style.position = 'fixed';
        rewardPopup.style.top = '50%';
        rewardPopup.style.left = '50%';
        rewardPopup.style.transform = 'translate(-50%, -50%)';
        rewardPopup.style.width = '50%'; 
        rewardPopup.style.height = '50%'; 
        rewardPopup.classList.add('bg-neon-dark');
        rewardPopup.style.borderRadius = '10px';
        rewardPopup.style.padding = '40px'; 
        rewardPopup.style.zIndex = '1002'; 
        rewardPopup.style.textAlign = 'center';
        rewardPopup.style.fontSize = '5vw'; 
        rewardPopup.style.color = '#333';
        rewardPopup.style.display = 'flex';
        rewardPopup.style.flexDirection = 'column';
        rewardPopup.style.justifyContent = 'center';
        rewardPopup.style.alignItems = 'center';

        const aplause = document.createElement('div');
        aplause.innerText = '👏👏👏';
        rewardPopup.appendChild(aplause);

        const title = document.createElement('div');
        title.classList.add('text-neon-light');
        title.innerText = 'Codi:';
        title.classList.add('my-5');

        const rewardText = document.createElement('div');
        rewardText.classList.add('text-neon-light');

        if (questions[question].reward_type === 'num') {
            let rewardValue;
            for (let i = 0; i <= 9; i++) {
                if (await encodeSHA256(i.toString()) === questions[question].reward_num) {
                    rewardValue = i;
                    break;
                }
            }
            let rewardLetter;
            for (let letter of ['A', 'B', 'C', 'D', 'E', 'F']) {
                if (await encodeSHA256(letter) === questions[question].reward_let) {
                    rewardLetter = letter;
                    break;
                }
            }

            rewardPopup.appendChild(title);

            rewardText.innerText = `${rewardLetter} = ${rewardValue}`;
            rewardPopup.appendChild(rewardText);
        } else if (questions[question].reward_type === 'let') {
            let rewardPos;
            for (let i = 0; i <= 9; i++) {
                if (await encodeSHA256(i.toString()) === questions[question].reward_pos) {
                    rewardPos = i;
                    break;
                }
            }
            let rewardLetter;
            for (let letter of ['A', 'B', 'C', 'D', 'E', 'F']) {
                if (await encodeSHA256(letter) === questions[question].reward_let) {
                    rewardLetter = letter;
                    break;
                }
            }
            let hiddenWord = "_ _ _ _ _ _".split(" ");
            hiddenWord[rewardPos - 1] = rewardLetter;
            let newHiddenWord = [
                ...hiddenWord.slice(0, 3),
                '|',
                ...hiddenWord.slice(3)
            ];

            rewardPopup.appendChild(title);

            rewardText.innerText = newHiddenWord.join(" ");
            rewardPopup.appendChild(rewardText);
        }

        document.body.appendChild(rewardPopup);
        
        setTimeout(() => {
            document.body.removeChild(rewardPopup);
        }, 5000);
    }

    const fireworksOfConfetti = (seconds) => {
        var duration = seconds * 1000;
        var animationEnd = Date.now() + duration;
        var defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

        function randomInRange(min, max) {
            return Math.random() * (max - min) + min;
        }

        var interval = setInterval(function() {
        var timeLeft = animationEnd - Date.now();

        if (timeLeft <= 0) {
            return clearInterval(interval);
        }

        var particleCount = 50 * (timeLeft / duration);
            // since particles fall down, start a bit higher than random
            confetti({ ...defaults, particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } });
            confetti({ ...defaults, particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } });
        }, 250);
    }

    const showLastPopUp = () => {
        fireworksOfConfetti(5000)

        const lastPopup = document.getElementById('lastPopup');
        
        const modalText = lastPopup.querySelector('.popup-text');
        if (modalText) {
            modalText.textContent = "LAST TEST";
        }
        lastPopup.classList.remove('hidden');
    };

    answerBtn.addEventListener('click', async () => {
        const question = (document.getElementById('input-question-id') as HTMLInputElement).value;
        const input = document.getElementById('input-answer') as HTMLInputElement;
        let hash256 = await encodeSHA256(input.value.toUpperCase())

        if (questions[question].answer === hash256){
            if(!isLastQuestion()){
                fireworksOfConfetti(5)
                showReward(question)
            }

            nextQuestion()
        } else {
            (document.getElementById('input-question-id') as HTMLInputElement).value = '0'
            setNewQuestion()

            let failureCount = parseInt(localStorage.getItem('failureCount')) || 0;
            failureCount = failureCount + 5;
            localStorage.setItem('failureCount', failureCount.toString());
           

            const showPopup = () => {
                const popup = document.createElement('div');
                popup.style.position = 'fixed';
                popup.style.top = '0';
                popup.style.left = '0';
                popup.style.width = '100%';
                popup.style.height = '100%';
                popup.style.backgroundColor = 'rgba(0, 0, 0, 0.8)';
                popup.style.display = 'flex';
                popup.style.justifyContent = 'center';
                popup.style.alignItems = 'center';
                popup.style.zIndex = '1000';
                popup.style.padding = '10px'; // Añadido para asegurar que el contenido se vea bien en móviles

                const video = document.createElement('video');
                video.src = '/videoplayback.mp4';
                video.autoplay = true;
                video.loop = true;
                video.style.maxWidth = '100%'; // Cambiado a 100% para que se ajuste al ancho de la pantalla
                video.style.maxHeight = '80%';
                video.style.height = 'auto'; // Cambiado a auto para mantener la proporción del video
                video.style.objectFit = 'cover';

                const timer = document.createElement('div');
                timer.style.position = 'absolute';
                timer.style.bottom = '20px';
                timer.style.color = '#fff';
                timer.style.fontSize = '20px';
                timer.style.textAlign = 'center'; // Asegura que el texto esté centrado en móviles
                popup.appendChild(video);
                popup.appendChild(timer);
                document.body.appendChild(popup);

                let remainingTime = failureCount;
                timer.innerText = `Temps restant: ${remainingTime} segons`;

                const interval = setInterval(() => {
                    remainingTime--;
                    timer.innerText = `Temps restant: ${remainingTime} segons`;
                    if (remainingTime <= 0) {
                        clearInterval(interval);
                    }
                }, 1000);

                setTimeout(() => {
                    const closeButton = document.createElement('button');
                    closeButton.innerText = 'Tancar';
                    closeButton.style.position = 'absolute';
                    closeButton.style.top = '20px';
                    closeButton.style.right = '20px';
                    closeButton.style.padding = '10px 20px';
                    closeButton.classList.add('bg-neon-dark');
                    closeButton.classList.add('text-neon-light');
                    closeButton.style.border = 'none';
                    closeButton.style.borderRadius = '5px';
                    closeButton.style.cursor = 'pointer';

                    closeButton.addEventListener('click', () => {
                        document.body.removeChild(popup);
                    });

                    popup.appendChild(closeButton);
                    timer.style.display = 'none';
                }, failureCount * 1000);
            };

            showPopup();
        }

    });

    const setNewQuestion = () => {
        const question = parseInt((document.getElementById('input-question-id') as HTMLInputElement).value);
        document.querySelector('.label-question').innerHTML = questions[question].question;
        // localStorage.setItem('failureCount', '0');
        const inputAnswer = document.getElementById('input-answer') as HTMLInputElement
        inputAnswer.value = ''
        inputAnswer.placeholder = questions[question].placeholder;
    }

    const nextQuestion = () => {
        const questionElement = document.getElementById('input-question-id') as HTMLInputElement;
        const question = parseInt(questionElement.value);

        //Check last question
        if (!isLastQuestion()) {
            questionElement.value = (question + 1).toString();
            setNewQuestion()
        }else{
            showLastPopUp();
        }
        
    }

    const isLastQuestion = () => {
        const questionElement = document.getElementById('input-question-id') as HTMLInputElement;
        const question = parseInt(questionElement.value);

        if (question == questions.length - 1) {
            return true
        } else {
            return false
        }
    }

    setNewQuestion()

    const encodeSHA256 = async (message) => {
        const hashDigest = CryptoJS.SHA256(message).toString(CryptoJS.enc.Hex);
        // console.log(hashDigest)

        return hashDigest;
    }
</script>
<style>
    .question {
        border: 1px solid rgba(var(--neon-medium-light), 80%);
        border-radius: 8px;
        padding: 3rem 0;
        background-color: rgb(var(--neon-medium-dark));
        text-align: center;
        font-size: 2rem;
    }

    .question-text {
        margin-bottom: 50px;
    }

    @media (max-width: 768px) {
        .question {
            padding: 2rem 0;
            font-size: 1.5rem;
        }

        .question-text {
            margin-bottom: 30px;
        }
    }

    @media (max-width: 480px) {
        .question {
            padding: 1rem 0;
            font-size: 1.2rem;
        }

        .question-text {
            margin-bottom: 20px;
        }
    }

    #hearth {
		text-shadow:
			-1px -1px 0 rgb(var(--neon-light)),  
			1px -1px 0 rgb(var(--neon-light)),
			-1px 1px 0 rgb(var(--neon-light)),
			1px 1px 0 rgb(var(--neon-light));
	}
</style>
